.image-bw {
    filter: grayscale(1) contrast(1) brightness(1);
    transition: filter 0.5s ease;
}

.image-bw:focus,
.image-bw:hover {
    filter: grayscale(0) contrast(1) brightness(1);
}

.image-bw-toast {
    position: absolute;
    top: 1%;
    left: 1%;
    transform: translate(0%, 0%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    animation: fadeOut 3s ease forwards;
    z-index: 1000; /* Ensure it's above other content */
}

.image-bw-container {
    position: relative;
    display: inline-block; /* Adjust size to fit the image */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button-link {
    background-color: transparent; /* 1 */
    color: var(--fg); /* 1 */
    padding: 20px; /* 2 */
    margin-top: 1.6rem; /* 3 */
    border: 1px solid var(--fg); /* 4 */
    cursor: pointer; /* 5 */
    width: 100%;
    text-align: center;
    display: block;
}

.center-text {
    text-align: center;
}

/* For dark mode, you might want to invert only in dark mode */
@media (prefers-color-scheme: dark) {
    .figure-bw {
      filter: invert(100%);
    }
  }